[defaults]
inventory       = inventory.ini
remote_user     = ubuntu
private_key_file= ~/.ssh/id_rsa
host_key_checking = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i ~/.ssh/id_rsa ubuntu@93.77.177.183"